{% extends "baseapp/base.html" %}

{% load static %}

{% block content %}

<head>
    <title>Juego de Cierto y Falso</title>
</head>

<style>
    .btn-back {
        /*
        width: 50px;
        height: 50px;
        */
        border-radius: 25px;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 10px;
        margin-left: 10px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content: center; /* Centrar horizontalmente */
        align-items: center; /* Centrar verticalmente */
      }
      
      .btn-back i {
        margin: 0; /* Asegurar que no haya margen predeterminado */
      }
</style>

<div class="d-flex align-items-center justify-content-center m-2" style="height: 80vh;">

    <div>

        
        {% if titulo_leccion.leccion %}
     

        <a href="{{titulo_leccion.leccion.get_absolute_url}}" class="btn gcolorbuttonsSmall btn-back">
            <i class="fas fa-arrow-left"></i> 
            Volver
          </a>

          {% else %}
      
      <a href="{{titulo_leccion.grupofk.get_absolute_url}}" class="btn gcolorbuttonsSmall btn-back">
          <i class="fas fa-arrow-left"></i> 
          Volver
        </a>
      


        
          
        {% endif %}

    
            <h2 class="text-center" >
                
                {{titulo_leccion}}

            </h2>

        <h5 class="text-center mb-4" >Juego de Cierto y Falso</h5>
        
        <div id="juego" class="text-center position-relative mb-5" style="display: flex; justify-content: center;">
            {% comment %} <h3 id="n_pregunta"> pregunta {{tamanio_listP}} </h3>
            <h2 id="titul_pregunta">Pregunta: {{ pregunta.texto }}</h2> {% endcomment %}






            <form id="gameForm" method="post" action="{% url 'jugar_cf' leccion_id %}" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="pregunta_id" value="{{ pregunta.id }}">

                <div class="card mx-auto" style="max-width: 28rem;">
                    {% if pregunta.imagen %}
                    <img id="pregunta_imagen" src="{{ pregunta.imagen.url }}" alt="Imagen de la pregunta"
                        class="card-img-top">
                    {% endif %}
                    <div class="card-body">
                        <p id="n_pregunta"> Pregunta N: {{tamanio_listP}}</p>
                        <p style="text-align: justify;" id="titul_pregunta">{{ pregunta.texto }}</p>
                    </div>
                </div>

                <div class="row mt-3" style="min-width: 300px;">
                    <div class="col-md-6 mb-2">
                        <button type="submit" name="respuesta" value="verdadero"
                            class="btn btn-success w-100">Verdadero</button>
                    </div>
                    <div class="col-md-6">
                        <button type="submit" name="respuesta" value="falso" class="btn btn-danger w-100">Falso</button>
                    </div>
                </div>
            </form>

        </div>
        <div id="resultado"
            class="alert alert-success  fade show mt-3 position-absolute top-0 start-50 translate-middle-x text-center"
            role="alert" style="display: none;">
            <span class="text-center" id="resultado-text"></span>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
        </div>
        <div id="resultado-final" class="alert alert-info  fade show mt-3 top-0 start-50 translate-middle-x text-center"
            role="alert" style="display: none;">
            <span class="text-center" id="resultado-text-final"></span>
            <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
        </div>




                        <!-- <div class="d-flex justify-content-center">
                    <button id="terminar" class="btn btn-primary">Reiniciar</button>
                </div> -->
        <div class="d-flex justify-content-center">

            <div class="row" id="formulario_dificultad" style="display: none;">




                <form action="{% url 'terminar'  %}" method="post" id="miFormulario">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <label class="" for="dificultad_CF">Elija un nivel</label> -->
                        <select class="form-control" id="dificultad_CF" name="dropdown">
                            <option value="" disabled selected hidden>Por favor, elige una dificultad ...</option>
                            <option value="1">Fácil</option>
                            <option value="2">Medio</option>
                            <option value="3">Difícil</option>
                        </select>
                        <div id="errorMensaje" style="display: none; color: red;">Por favor, elige una opción.</div>
                    </div>
                    <input type="hidden" id="lesson_id" name="lesson_id" value="{{leccion_id}}">
                    <button type="submit" class="btn gcolorbuttonsinverso mt-1">Volver a jugar</button>
                </form>

                <script>
                    document.getElementById('miFormulario').addEventListener('submit', function (event) {
                        var select = document.getElementById('dificultad_CF');
                        var errorMensaje = document.getElementById('errorMensaje');

                        if (select.value === "") {
                            event.preventDefault();
                            errorMensaje.style.display = "block";
                            setTimeout(function () {
                                errorMensaje.style.display = "none";
                            }, 3000);
                        } else {
                            errorMensaje.style.display = "none";
                        }
                    });
                </script>

                                <!-- 
                        <a href="{% url 'jugar_cf' 1 %}" class="btn gcolorbuttonsinverso" style="margin-top: 5px; width: 100%; ">Jugar cierto
                        y falso</a> -->

            </div>
        </div>


    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
<script>
    $(document).ready(function () {

        $("#gameForm").on('submit', function (event) {
            event.preventDefault();
            var buttonValue = $(document.activeElement).val();
            var formData = $(this).serializeArray();
            formData.push({ name: 'respuesta', value: buttonValue });
            $.ajax({
                url: "{% url 'jugar_cf' leccion_id %}",
                type: "POST",
                data: $.param(formData),
                dataType: 'json',
                success: function (data) {
                    if (data.puntaje) {
                        $("#resultado-text-final").text("Resultado final: " + data.puntaje.correctas + " correctas, " + data.puntaje.incorrectas + " incorrectas.");
                        $("#resultado-final").show();
                        $("#juego").hide();
                        $("#formulario_dificultad").show();

                    } else {
                        if (data.es_correcta) {
                            $("#resultado").removeClass('alert-danger').addClass('alert-success');
                            $("#resultado-text").text("¡Respuesta correcta!");
                        } else {
                            $("#resultado").removeClass('alert-success').addClass('alert-danger');
                            $("#resultado-text").text("Respuesta incorrecta.");
                        }

                        $("#titul_pregunta").text(data.pregunta_texto);
                        $("#n_pregunta").text("Pregunta N: " + data.tamanio_listP);
                        $("input[name='pregunta_id']").val(data.pregunta_id);

                        if (data.imagen_url) {
                            $("#pregunta_imagen").attr("src", data.imagen_url);
                        } else {
                            $("#pregunta_imagen").remove();
                        }
                        $("#resultado").show().delay(4000).fadeOut();
                    }
                }
            });
        });

        $("#terminar").click(function () {
            $.ajax({
                url: "{% url 'terminar' %}",
                type: "POST",
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function () {
                    location.reload();
                }
            });
        });
    });
</script>




{% endblock %}