{% extends "baseapp/base.html" %}
{% load static %}
{% block content %}

<h4 class="h3"
    style="text-align: center; color: rgb(255, 255, 255); background-color: var(--Gprimary-color); padding-top: 10px; padding-bottom: 10px;">
    los {{contar_user}} mejores jugadores
</h4>
<div class="container" style="padding-top: 1.6%; padding-bottom: 1.6%;">



    <div class="row-1">

        <div class="card">




            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"># Posición</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Puntaje</th>
                    </tr>
                </thead>
                <tbody>

                    {% for user_quiz in usuario_quiz %}

                    <tr>
                        <th>{{ forloop.counter }}</th>
                        <th>{{ user_quiz.usuario.username }}</th>
                        <th>{{ user_quiz.puntaje_total }}</th>
                    </tr>

                    {% endfor %}
                </tbody>
            </table>


            <!-- <a href="{% url 'alljuegos' %}">ver aqui</a> -->



        </div>

        <div class="pb-2 pt-2">

            <a href="{% url 'alljuegos' %}"><button class="btn gcolorbuttons"> volver a los juegos
                </button></a>
        </div>
    </div>





</div>
{% endblock %}