{% extends "baseapp/base.html" %}

{% load static %}

{% load widget_tweaks %}

{% block content %}


<style>

  .mensaje_error_vacio{
    
    text-align: center;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.764);
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 10;
   
    color: white;
    text-align: center;
    width: 100%;
  }
  .imagen-cuadrada {
    width: 100px;
    height: 100px;
    overflow: hidden;
  }
  
  .imagen-cuadrada img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>

<style>
  .fondocolor{
    background-color: var(--Gprimary-color);
    border-radius: 15px;
    color: aliceblue;
  }
  .fondocolor_titulo{
    background-color: var(--Gprimary-color);
    border-radius: 15px;
    color: aliceblue;
  }
  .error-message{
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.764);
    padding: 5px;
    display: none;
    color: white;
    text-align: center;
  }
  #mensaje-div{
    border-radius: 15px;
    background-color: rgba(219, 76, 76, 0.764);
    padding: 5px;
    display: none;
    color: white;
    text-align: center;

  }
</style>



<div class="alert-container">
  <div id="mensaje-div" class="mt-2 mb-2 alert fixed-top m-3"></div>
</div>

{% include "juegos_grupo/text_mensaje.html" %}

<div tabindex="0" class="h3 gtitulo"
  style="text-align: center; padding-top: 10px; padding-bottom: 10px; ">
  
  <h4>
    Edita juego Pareo Cartas
  </h4>
  <h6>{{grupo_obj.name}}</h6>
</div>

<div class="container d-flex justify-content-center align-items-center mb-4" >

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    
    <form method="post" enctype="multipart/form-data" onsubmit="return validarFormulario();" id="form_crea_card">
      {% csrf_token %}
      <div class="row mb-2">
        <div class="col fondocolor_titulo ">
          <div class="p-2" style="text-align: center;">
            <label for="" class="me-2"  > Título juego: </label>
            {{ form.name }}
            {% if form.name.errors %}
              <div class="alert alert-danger mt-2">
                {{ form.name.errors }}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
      {{ cards_formset.management_form }}
     
      {% for card_form in cards_formset %}
        <div class="card-form form-group row mb-1 fondocolor p-2">
          {{ card_form.id }}
          {{ card_form.eliminar }}
          <div class="col-12 d-flex justify-content-center align-items-center mb-1" style="display: flex; flex-direction: column;">
            <label for="" class="me-2" > Card Name: </label>
            {{ card_form.name |add_class:"form-control"  }}
            {% if card_form.name.errors %}
              <div class="alert alert-danger mt-2">
                {{ card_form.name.errors }}
              </div>
            {% endif %}
          </div>
          <div class="col-10 d-flex justify-content-start align-items-start mb-1">
          
            {% if card_form.image.value %}
            
            <label for="" style="margin-right: 35px;"> Image <br> Actual: </label>
            <div class="imagen-cuadrada">
              <a href="{{ card_form.image.value.url }}">
                <img src="{{ card_form.image.value.url }}" alt="Imagen actual" >
              </a>
              
            </div>
            <div class="ms-4">

            </div>
            
            {% endif %}
            {{ card_form.image }} 
          

          {% if card_form.image.errors %}
          <div class="alert alert-danger mt-2">
            {{ card_form.image.errors }}
            <img src="{{ card_form.instance.image.url }}">
            {{ card_form.instance.image.url }}
            {{ card_form.instance.image }}

              </div>
            {% endif %}
          </div>
          <div class="col-2" style="display: flex; justify-content: flex-end; align-items: center;">
            <button type="button" class="delete-button btn btn-danger">Eliminar</button>
          </div>

          <div class="col-12 mt-2 mb-2">
            <div class="error-message"></div>
        </div>

        </div>
      {% endfor %}
    
    <div class="mt-4  d-flex justify-content-center align-items-center">
      <button class="btn gcolorbuttonsSmall me-2" type="button" id="add-button">Agregar Card</button>
      
      <button class="btn btn-success me-2" type="submit" name="accion1" >Guardar</button>
      <button class="btn btn-success" type="submit" name="accion2">Guardar y Salir</button>
    </div>
  </form>
    
    
    </div>
    
    
    <div id="empty-form" style="display:none;">
      <div class="card-form form-group row mb-1 fondocolor p-2">
        {{ cards_formset.empty_form.id }}
        {{ cards_formset.empty_form.eliminar }}
        
        <div class="col-12 d-flex justify-content-center align-items-center mb-1" style="display: flex; flex-direction: column;">
          <label for="" class="me-2" > Card Name: </label>
          {{ cards_formset.empty_form.name|add_class:"form-control" }}
        </div>
        <div class="col-10 d-flex justify-content-start align-items-start mb-1">
            <label for="" style="margin-right: 35px;" > Image: </label>
            {{ cards_formset.empty_form.image }}
            
          </div>
        <div class="col-2" style="display: flex; justify-content: flex-end; align-items: center;">
          <button type="button" class="delete-button btn btn-danger">Eliminar</button>
        </div>
        <div class="col-12 mt-2 mb-2">
          <div class="error-message"></div>
      </div>
      </div>
    </div>
    
    
    
    <script>
    
        $('#add-button').click(function () {
          
            var formIdx = $('#id_cards-TOTAL_FORMS').val();
            var emptyForm = $('#empty-form .card-form');
            var newCardForm = emptyForm.clone(true);
            newCardForm.find('input, select, textarea').each(function() {
              this.name = this.name.replace(/__prefix__/, formIdx);
              this.id = 'id_' + this.name;
              if (this.type !== 'checkbox') {
                this.value = '';
              }
            });
            $(this).parent().before(newCardForm);
            
            var inputFile = newCardForm.find('input[type="file"]');
            inputFile.prop('required', true);
            $('#id_cards-TOTAL_FORMS').val(parseInt(formIdx) + 1);
            configurarValidacionArchivos();
            
          });
    
        
        $('form').on('click', '.delete-button', function(e) {
            e.preventDefault();
            var eliminarInput = $(this).parent().parent().find('input[name$=eliminar]');
            eliminarInput.val('true');
            $(this).parent().parent().css('display', 'none');
            console.log('b')
            console.log(eliminarInput)
            var form = $(this).closest('.card-form');
            var inputFile = form.find('input[type="file"]');
            var nameInput = form.find('input[name^="cards-"][name$="-name"]');
            var imageField = form.find('input[name^="cards-"][name$="-image"]');
            console.log(inputFile)
            inputFile.val('');
            if (nameInput.val().trim() === '') {
              // Si es vacío, cambia el valor a '1'
              nameInput.val('1');
          }
          nameInput.css('display', 'none');
          console.log(imageField.required)
          imageField.required = false;
          console.log(imageField.required)
          inputFile.prop('required', false);
          /*
          if (imageField.val().trim() === '') {
            console.log('envio')
            // Si el campo de archivo está vacío, cambia el valor a 'vacio' (o el valor deseado)
            imageField.val('vacio');
          }
          */
        });
        
        
    </script>


  
    <!-- <script>
      document.querySelector("form").addEventListener("submit", function (event) {
          var forms = document.querySelectorAll(".card-form");
          for (var i = 0; i < forms.length; i++) {
              var inputFile = forms[i].querySelector("input[type='file']");
              if (inputFile.files.length > 0) {
                  var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
                  var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();
                  if (allowedExtensions.indexOf(fileExtension) === -1) {
                      alert("El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).");
                      event.preventDefault(); // Evita el envío del formulario
                      return; // Detiene la validación en caso de un archivo no válido
                  }
              }
          }
      });
  </script> -->

  <!-- <script>
    document.querySelector("form").addEventListener("submit", function (event) {
        var forms = document.querySelectorAll(".card-form");
        for (var i = 0; i < forms.length; i++) {
            var inputFile = forms[i].querySelector("input[type='file']");
            var errorMessage = forms[i].querySelector(".error-message");
            
            if (inputFile.files.length > 0) {
                var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
                var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();
                if (allowedExtensions.indexOf(fileExtension) === -1) {
                    errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
                    event.preventDefault(); // Evita el envío del formulario
                    return; // Detiene la validación en caso de un archivo no válido
                } else {
                    errorMessage.textContent = ""; // Limpia cualquier mensaje de error anterior
                }
            } else {
                errorMessage.textContent = ""; // Limpia cualquier mensaje de error anterior
            }
        }
    });
</script> -->


<!-- <script>
  document.querySelector("form").addEventListener("submit", function (event) {
      var forms = document.querySelectorAll(".card-form");
      for (var i = 0; i < forms.length; i++) {
          var inputFile = forms[i].querySelector("input[type='file']");
          var errorMessage = forms[i].querySelector(".error-message");
          
          if (inputFile.files.length > 0) {
              var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
              var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();
              if (allowedExtensions.indexOf(fileExtension) === -1) {
                  errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
                  errorMessage.style.display = "block"; // Muestra el div de error
                  setTimeout(function() {
                      errorMessage.style.display = "none"; // Oculta el div de error después de 3 segundos
                  }, 5000);
                  event.preventDefault(); // Evita el envío del formulario
                  return; // Detiene la validación en caso de un archivo no válido
              } else {
                  errorMessage.style.display = "none"; // Limpia cualquier mensaje de error anterior
              }
          } else {
              errorMessage.style.display = "none"; // Limpia cualquier mensaje de error anterior
          }
      }
  });
</script> -->

<!-- <script>
  var forms ;
  document.querySelector("form").addEventListener("submit", function (event) {
      forms = document.querySelectorAll(".card-form");

      for (var i = 0; i < forms.length; i++) {
          var inputFile = forms[i].querySelector("input[type='file']");
          var errorMessage = forms[i].querySelector(".error-message");
          
          if (inputFile.files.length > 0) {
              var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
              var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();
              if (allowedExtensions.indexOf(fileExtension) === -1) {
                  errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
                  errorMessage.style.display = "block"; // Muestra el div de error
                  event.preventDefault(); // Evita el envío del formulario
                  return; // Detiene la validación en caso de un archivo no válido
              } else {
                  errorMessage.style.display = "none"; // Oculta el div de error si el archivo es válido
              }
          } else {
              errorMessage.style.display = "none"; // Oculta el div de error si no se ha seleccionado ningún archivo
          }
          
          // Agregar un listener para el cambio en el input de archivo
          inputFile.addEventListener("change", function() {
              errorMessage.style.display = "none"; // Ocultar el mensaje de error al cambiar el archivo
          });
      }
  });
</script> -->


<!-- <script>
  document.querySelector("form").addEventListener("submit", function (event) {
    var formsWithFiles = document.querySelectorAll(".card-form-with-files");

    for (var i = 0; i < formsWithFiles.length; i++) {
      var inputFile = formsWithFiles[i].querySelector("input[type='file']");
      var errorMessage = formsWithFiles[i].querySelector(".error-message");

      if (inputFile && inputFile.files.length > 0) {
        var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
        var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();
        if (allowedExtensions.indexOf(fileExtension) === -1) {
          errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
          errorMessage.style.display = "block"; // Muestra el div de error
          event.preventDefault(); // Evita el envío del formulario
          return; // Detiene la validación en caso de un archivo no válido
        } else {
          errorMessage.style.display = "none"; // Oculta el div de error si el archivo es válido
        }
      } else {
        errorMessage.style.display = "none"; // Oculta el div de error si no se ha seleccionado ningún archivo
      }
    }
  });

  // Agregar la clase "card-form-with-files" a los formularios existentes que contienen campos de archivo
  document.querySelectorAll(".card-form").forEach(function(form, i) {
    var inputFile = form.querySelector("input[type='file']");

    if (inputFile) {
      form.classList.add("card-form-with-files");
      
      inputFile.addEventListener("change", function() {
        var errorMessage = form.querySelector(".error-message");
        var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
        var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();
        if (allowedExtensions.indexOf(fileExtension) === -1) {
          errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
          errorMessage.style.display = "block"; // Muestra el div de error
        } else {
          errorMessage.style.display = "none"; // Oculta el div de error si el archivo es válido
        }
      });
    }
  });

  // Agregar un listener para el botón "Agregar"
  document.querySelector("#add-button").addEventListener("click", function() {
    // Agregar nuevo formulario al formset
    // ...

    // Agregar la clase "card-form-with-files" al nuevo formulario
    var newForm = document.querySelector(".card-form:last-child");
    var newInputFile = newForm.querySelector("input[type='file']");
    
    if (newInputFile) {
      newForm.classList.add("card-form-with-files");
      
      newInputFile.addEventListener("change", function() {
        var errorMessage = newForm.querySelector(".error-message");
        var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
        var fileExtension = newInputFile.files[0].name.split('.').pop().toLowerCase();
        if (allowedExtensions.indexOf(fileExtension) === -1) {
          errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
          errorMessage.style.display = "block"; // Muestra el div de error
        } else {
          errorMessage.style.display = "none"; // Oculta el div de error si el archivo es válido
        }
      });
    }
  });
</script>
 -->

 <script>
  function configurarValidacionArchivos() {
    // Agregar la clase "card-form-with-files" a los formularios que contienen campos de archivo
    document.querySelectorAll(".card-form").forEach(function(form, i) {
      var inputFile = form.querySelector("input[type='file']");

      if (inputFile) {
        form.classList.add("card-form-with-files");
        //inputFile.required = true;
        

        inputFile.addEventListener("change", function() {
          var errorMessage = form.querySelector(".error-message");
          var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
          var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();

          if (allowedExtensions.indexOf(fileExtension) === -1) {
            errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
            errorMessage.style.display = "block"; // Muestra el div de error al cambiar el archivo
          } else {
            errorMessage.style.display = "none"; // Oculta el div de error si el archivo es válido
            
          }
        });

      }
    });

  
  }


  // Llamar a la función cuando la página cargue
  $(document).ready(function() {
    configurarValidacionArchivos();
  });



  document.querySelector("form").addEventListener("submit", function (event) {

    var formCount = document.querySelectorAll(".card-form").length;
    console.log(formCount)



    var cardForms = document.querySelectorAll(".card-form");


    var visibleCardForms = Array.from(cardForms).filter(function(form) {
      var style = getComputedStyle(form);
      return style.display !== "none";
    });
    
    var longitudVisibleCardForms = visibleCardForms.length;
    console.log(longitudVisibleCardForms)

    if (longitudVisibleCardForms < 3) {
      event.preventDefault(); // Evita el envío del formulario

      // Muestra el mensaje de error
      var errorMessageDiv = document.getElementById("mensaje-div");
      errorMessageDiv.textContent = "El juego debe tener más de 2 cartas";
      errorMessageDiv.style.display = "block";

      // Espera 3 segundos y luego oculta el mensaje
      setTimeout(function() {
        errorMessageDiv.style.display = "none";
      }, 3000); // 3000 milisegundos = 3 segundos

      return;
    } else if (longitudVisibleCardForms > 20) {
      event.preventDefault(); // Evita el envío del formulario

      // Muestra el mensaje de error
      var errorMessageDiv = document.getElementById("mensaje-div");
      errorMessageDiv.textContent = "El límite de cartas para el juego es 20";
      errorMessageDiv.style.display = "block";

      // Espera 3 segundos y luego oculta el mensaje
      setTimeout(function() {
        errorMessageDiv.style.display = "none";
      }, 3000); // 3000 milisegundos = 3 segundos

      return;
    }






    var formsWithFiles = document.querySelectorAll(".card-form-with-files");

    for (var i = 0; i < formsWithFiles.length; i++) {
      var inputFile = formsWithFiles[i].querySelector("input[type='file']");
      var errorMessage = formsWithFiles[i].querySelector(".error-message");

      if (inputFile && inputFile.files.length > 0) {
        var allowedExtensions = ["jpg", "jpeg", "png", "gif"];
        var fileExtension = inputFile.files[0].name.split('.').pop().toLowerCase();
        if (allowedExtensions.indexOf(fileExtension) === -1) {
          errorMessage.textContent = "El archivo en el formulario #" + (i + 1) + " debe ser una imagen (JPEG, PNG o GIF).";
          errorMessage.style.display = "block"; // Muestra el div de error
          event.preventDefault(); // Evita el envío del formulario
          return; // Detiene la validación en caso de un archivo no válido
        } else {
          errorMessage.style.display = "none"; // Oculta el div de error si el archivo es válido
          
        }
      } else {
        errorMessage.style.display = "none"; // Oculta el div de error si no se ha seleccionado ningún archivo
      }
    }
  });
</script>


<script>
  // Selecciona todos los elementos input con nombres que coincidan con el patrón "preguntas-n-eliminar"
const eliminarCheckboxes = document.querySelectorAll('input[name^="cards-"][name$="-eliminar"]');

// Recorre todos los elementos seleccionados
eliminarCheckboxes.forEach(eliminarCheckbox => {
  // Verifica si el valor del checkbox es "verdadero"
  if (eliminarCheckbox.value === "true") {
    // Cambia el valor a "falso"
    eliminarCheckbox.value = "false";
  }
});

</script>

<script>
  function validarFormulario() {
      var inputs = document.querySelectorAll('#form_crea_card input[type=text]');
      var isValid = true;

      for (var i = 0; i < inputs.length; i++) {
          var input = inputs[i];
          var displayStyle = window.getComputedStyle(input).display;
          var mensajeId = 'mensaje' + i;
          var mensajeExistente = document.getElementById(mensajeId);

          if (displayStyle !== 'none') {
              if (input.value.trim() === '') {
                  isValid = false;
                  input.style.border = '1px solid red';

                  // Si el mensaje ya existe, actualizamos su texto
                  if (mensajeExistente) {
                      mensajeExistente.innerText = 'Este campo no puede estar vacío.';
                  } else {
                      // Si el mensaje no existe, lo creamos
                      var mensaje = document.createElement('div');
                      mensaje.id = mensajeId;
                      mensaje.className = 'mensaje_error_vacio';  // Aquí agregas la clase
                      mensaje.style.color = 'white';
                      mensaje.innerText = 'Este campo no puede estar vacío.';
                      input.parentNode.insertBefore(mensaje, input.nextSibling);
                  }
                } else if (/^[^a-zA-Z0-9]+$/.test(input.value)) {
                  isValid = false;
                  input.style.border = '1px solid red';

                  // Si el mensaje ya existe, actualizamos su texto
                  if (mensajeExistente) {
                      mensajeExistente.innerText = 'Este campo no puede contener solo caracteres especiales.';
                  } else {
                      // Si el mensaje no existe, lo creamos
                      var mensaje = document.createElement('div');
                      mensaje.id = mensajeId;
                      mensaje.className = 'mensaje_error_vacio';  // Aquí agregas la clase
                      mensaje.style.color = 'white';
                      mensaje.innerText = 'Este campo no puede contener solo caracteres especiales.';
                      input.parentNode.insertBefore(mensaje, input.nextSibling);
                  }
              } else {
                  // Si el usuario ha agregado texto válido en el campo, eliminamos el mensaje
                  if (mensajeExistente) {
                      mensajeExistente.remove();
                  }
                  input.style.border = '1px solid #bdbdbd'
              }
          }
      }

      return isValid;
  }
</script>
    
    {% endblock %}
    