{% extends "baseapp/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/usersapp/login.css' %}">
<div class="topbotP">

  <form method="post">
    {% csrf_token %}

    <div class="modal-dialog">
      <h1 class="gsubtitulo h3 pt-2 pb-2">Confirmar Restablecimiento de Contraseña</h1>


      <div class="modal-content">
        
 

        <div class="modal-body">

          {% if validlink %}
            <p>Por favor, ingresa tu nueva contraseña.</p>

            <input type="hidden" name="uid" value="{{ uid }}">
            <input type="hidden" name="token" value="{{ token }}">

            <label for="id_new_password1">Nueva Contraseña:</label>
            <input type="password" name="new_password1" id="id_new_password1" class="form-control">
            {% if form.new_password1.errors %}
                <div class="alert alert-danger" role="alert">
                    {{form.new_password1.errors}}
                </div>
            {% endif %}

            <div class="text-end"> 
                <button style="box-shadow: none;" type="button" class="btn rounded-circle p-1 border-0 bg-transparent float-end" data-mdb-toggle="tooltip" data-mdb-placement="right" title="Debe tener al menos 8 caracteres, incluir mayúsculas, minúsculas, números y al menos un carácter especial como !@#$%^&*.">
                    <i class="fas fa-info-circle"></i>
                </button>
            </div>

            <label for="id_new_password2">Confirmar Nueva Contraseña:</label>
            <input type="password" name="new_password2" id="id_new_password2" class="form-control">
            {% if form.new_password2.errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    {{form.new_password2.errors}}
                </div>
            {% endif %}

            <button type="submit" class="btn  btn-block mb-4 gcolorbuttons mt-2">Guardar Nueva Contraseña</button>

          {% else %}
            <div class="alert alert-warning" role="alert">
                El enlace para restablecer la contraseña no es válido o ha expirado.
            </div>
          {% endif %}
          
          {% if error %}
              <div class="alert alert-danger sizefont"> {{error}} </div>
          {% endif %}

        </div>
      </div>
    </div>

  </form>

</div>




{% endblock %}
