{% extends "baseapp/base.html" %}
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static '/usersapp/login.css' %}">
<div class="topbotP">

  <form method="POST" action="{% url 'password_reset' %}" class="modal-dialog">
    {% csrf_token %}
    <h1 class="gsubtitulo h3 pt-2 pb-2">Restablecimiento de Contraseña</h1>

    <div class="modal-content">
      <div class="modal-body">
        <label for="id_email">Correo electrónico:</label>
        <input type="email" name="email" id="id_email" class="form-control">
        <button type="submit" class="btn  btn-block mb-4 gcolorbuttons mt-2">Restablecer Contraseña</button>
      </div>
    </div>
  </form>

</div>

{% endblock %}
